:root {
  --primary: rgb(73, 21, 69);

  --textLight: #1be5fe;

  --fontVeryBig: 58px;
  --fontBig: 48px;
  --fontNormal: 32px;
  --fontSmall: 20px;

  --spaceNormal: 50px;
}

@media screen and (max-width: 668px) {
  :root {
    --fontVeryBig: 34px;
    --fontBig: 28px;
    --fontNormal: 22px;
    --fontSmall: 16px;

    --spaceNormal: 30px;
  }
}

.App {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(359deg, #222146, #272128);
  color: white;
  overflow: hidden;
}

ul li {
  list-style: none;
  cursor: pointer;
}
